syntax = "proto3";
package api;

import "google/api/annotations.proto";
//import "google.golang.org/grpc/health/grpc_health_v1/health.proto";

message VersionRequest {
}

message VersionResponse {
    string version = 1;
}

service {{.Service.Name.Title}} {
    rpc Version(VersionRequest) returns (VersionResponse) {
        option (google.api.http) = {
            get: "/version"
        };
    }
//    rpc Check(grpc.health.v1.HealthCheckRequest) returns (grpc.health.v1.HealthCheckResponse) {
//        option (google.api.http) = {
//            get: "/health/check"
//        };
//    }
}