package main

import (
	"context"
	"github.com/hygge-io/go-grpc/base/adapters"
)

func main() {
	config := &adapters.Configuration{
		EndpointGrpc: ":10000",
		EndpointHttp: ":10001",
	}
	server, err := adapters.NewServer(config)
	if err != nil {
		panic(err)
	}
	err = server.Start(context.Background())
	if err != nil {
		panic(err)
	}
}
