go 1.21.4

use (
	.
	../../../../codefly.dev/cli
	../../../../codefly.dev/core
	base
)

replace github.com/codefly-dev/core v0.0.1 => ../../../../codefly.dev/core

replace github.com/codefly-dev/cli v0.0.1 => ../../../../codefly.dev/cli
