package adapters

import (
	"context"
	{{.Service.Proto.PackageAlias}} "{{.Service.Go.Package}}/gen"
)

type Server struct {
	{{.Service.Proto.PackageAlias}}.Unsafe{{.Service.TitleName}}Server
}

func (s *Server) Info(ctx context.Context, request *{{.Service.Proto.PackageAlias}}.InfoRequest) (*{{.Service.Proto.PackageAlias}}.InfoResponse, error) {
	// TODO: Version
	return &{{.Service.Proto.PackageAlias}}.InfoResponse{
	}, nil
}
