apiVersion: v1
kind: Secret
metadata:
  name: secret-{{ .Service.Unique.DNSCase }}
  namespace: {{ .Service.Namespace }}
data:
  {{- range $key, $value := .Parameters.SecretMap }}
    {{ $key }}: {{ $value }}
    {{- end }}
